pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
tensorflow==2.16.1
joblib==1.4.2

Flask==3.0.3
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
tensorflow==2.16.1
joblib==1.4.2
openai==1.35.10
gunicorn==22.0.0
